<!--장고의 template 특징: HTML 코드 일부를 파이썬 코드로 작성할 수 있음 % %-->
<!---
<!doctype html>
<html>
  <head>
    {% if context %}
        <title>this is index page</title> 
        <meta charset="utf-8">
    {% endif %}
  </head>
  <body>
  </body>
</html>
-->

<!doctype html>
<html>
  <head>
    <title>compare</title> 
    <meta charset="utf-8">
  </head>

  <body>
    <h1><a href="index.html">WEB</a></h1>
    <input id="night_day" type="button" value="night" onclick="
      nightDayHandler(this);
    ">
    <div id="grid">
      
    </div>
      
  </p>

</script>
  </body>
</html>
